* {
  box-sizing: border-box;
  color: white;
  background-color: darkslategray;
}

a {
  color: navy;
}
a:visited {
  color: purple;
}
a:hover {
  color: blueviolet;
}

header.header {
  /* 
    First I added sticky to the header__menu and it was not working. Because it sticks relevant to its nearest scrollable parent.

    Learn more:
    1. https://stackoverflow.com/a/70236959/8784518
    2. 
  */
  position: sticky;
  /* inset-inline-start does not work for me. So I had to use top. */
  top: 0;
  inset-inline-start: 0;
  background-color: darkslategray;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

/* Added this in order to bring the nav center with space-between */
header.header::after {
  content: "";
  display: block;
}

:is(header.header h1:first-child, .header__title) {
  margin-inline-start: 10px;
}

.header__menu {
  display: flex;
  align-self: center;
}

.header__menu ul {
  display: flex;
  padding-inline-start: 0;
}

.header__menu ul li {
  margin-inline-start: 0.25rem;
  margin-inline-end: 0.25rem;
  list-style-type: none;
}

.header__menu ul li a {
  text-decoration: none;
}

.header__menu ul li:first-of-type {
  margin-inline-start: 0;
}

.header__menu ul li:last-child {
  margin-inline-end: 0;
}

#recommendations {
  display: flex;
  flex-wrap: wrap;
}

/* .recommendations__header  */
#recommendations > header:first-child {
  flex: 0 0 100%;
}

#recommendations > div:first-of-type {
  /*
    TODO: Since the overflow-inline is not implemented in chrome and most browsers: https://caniuse.com/?search=overflow-inline
    we're gonna use overflow-x for the time being. Remove it ASAP it was implemented.
  */
  overflow-x: scroll;
  overflow-inline: scroll;
  flex: 0 0 100%;
  display: flex;
}

.recommendations__recommendation {
  flex: 0 0 50%;
}

#bio {
  display: flex;
  flex-wrap: wrap;
}

#bio > header:first-child {
  order: -2;
  flex: 0 0 100%;
}

#bio > footer {
  order: -1;
}
