<link href="./subscribe.component.css" rel="stylesheet" />

<article class="call-to-action">
  <div class="cta-layout">
    <section class="cta-content">
      <h3>This is a Call to Action</h3>
      <p>Lorem ipsum dolor!</p>
    </section>
    <form action="#" method="POST">
      <fieldset>
        <label class="sr-only" for="email">Email</label>
        <input id="email" type="text" placeholder="geoff@css-tricks.com" />
        <button>Submit</button>
      </fieldset>
    </form>
  </div>
</article>

<main class="main-content">
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum facere
    sunt soluta laborum, quas nobis eveniet illum, nostrum cumque delectus
    beatae distinctio assumenda voluptatibus quidem nisi cum necessitatibus
    natus. Dolores.
  </p>
  <article class="call-to-action">
    <div class="cta-layout">
      <section class="cta-content">
        <h3>This is a Call to Action</h3>
        <p>Lorem ipsum dolor!</p>
      </section>
      <form action="#" method="POST">
        <fieldset>
          <label class="sr-only" for="email">Email</label>
          <input id="email" type="text" placeholder="geoff@css-tricks.com" />
          <button>Submit</button>
        </fieldset>
      </form>
    </div>
  </article>
</main>

<footer class="main-footer">
  <nav>
    <a href="#">Home</a>
    <a href="#">About Me</a>
    <a href="#">Blog</a>
    <a href="#">Shopping</a>
    <a href="#">Events</a>
  </nav>
  <article class="call-to-action">
    <div class="cta-layout">
      <section class="cta-content">
        <h3>This is a Call to Action</h3>
        <p>Lorem ipsum dolor!</p>
      </section>
      <form action="#" method="POST">
        <fieldset>
          <label class="sr-only" for="email">Email</label>
          <input id="email" type="text" placeholder="geoff@css-tricks.com" />
          <button>Submit</button>
        </fieldset>
      </form>
    </div>
  </article>
</footer>
