@layer reset, base, hero-header, main, footer;

@layer reset {
  * {
    margin-block: 0;
    margin-inline: 0;
    padding-block: 0;
    padding-inline: 0;
    border-block: 0;
    border-inline: 0;
    box-sizing: border-box;
  }
}

@layer base {
  :root {
    --text-color: white;
    --bg-color: black;
    --text-electric-banana: #faff00;
    --body-inline-padding: 55px;
    --body-block-padding: 60px;
    --menu-border-color: #525254;
    --sections-gap: 200px;
    --black-out: #222222;
  }
  @font-face {
    font-family: "Bruno Ace SC";
    src: url("./assets/BrunoAceSC-Regular.eot");
    src: local("Bruno Ace SC Regular"), local("BrunoAceSC-Regular"),
      url("./assets/BrunoAceSC-Regular.eot?#iefix") format("embedded-opentype"),
      url("./assets/BrunoAceSC-Regular.woff2") format("woff2"),
      url("./assets/BrunoAceSC-Regular.woff") format("woff"),
      url("./assets/BrunoAceSC-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "MADE Outer Sans";
    src: url("./assets/MADEOuterSansAltRegular.ttf");
    src: local("MADE Outer Sans Alt Regular"), local("MADE Outer Sans"),
      url("./assets/MADEOuterSansAltRegular.ttf") format("truetype"),
      url("./assets/MADEOuterSansAltRegular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
  body,
  html {
    inline-size: 100%;
    min-height: 100vh;
    font-size: 14px;
  }
}

@layer base {
  body {
    display: block flex;
    flex-direction: column;
    gap: var(--sections-gap);
    background-color: var(--bg-color);
    color: var(--text-color);
    padding-block: var(--body-block-padding);
    padding-inline: var(--body-inline-padding);
  }
  a:any-link {
    color: inherit;
    text-decoration: none 0 solid transparent;
  }
  .logo {
    font-family: "Bruno Ace SC";
    text-transform: uppercase;
    font-size: 24px;

    .text-electric-banana {
      color: var(--text-electric-banana);
    }
  }
}

@layer hero-header {
  .hero-header {
    display: block flex;
    text-align: center;
    flex-direction: column;
    gap: 90px;
    background: var(--bg-color) url(./assets/background.393px.png) center 100px
      no-repeat;
    margin-inline: calc(var(--body-inline-padding) * -1);

    @media screen and (744px < width <= 1000px) {
      padding-inline: 30px;
      background-image: linear-gradient(to left, transparent, var(--bg-color)),
        url(./assets/background.1000px.png);
      background-position: top right;
      background-size: 50% auto;
      text-align: left;
    }
    @media screen and (393px < width <= 744px) {
      padding-inline: 20px;
      background-image: linear-gradient(to left, transparent, var(--bg-color)),
        url(./assets/background.744px.png);
      background-position: top right;
      background-size: 50% auto;
      text-align: left;
    }

    .hero-title {
      font-family: "MADE Outer Sans";
      font-size: 30px;
      padding-inline: var(--body-inline-padding);

      @media screen and ((393px < width <= 744px) or (744px < width <= 1000px)) {
        padding-inline: 0;
      }
    }

    .call-to-action {
      background-color: var(--text-electric-banana);
      color: black;
      font-size: 16px;
      font-weight: 900;
      padding-inline: 50px;
      padding-block: 16px;
      inline-size: fit-content;
      border-radius: 30px;
      align-self: center;

      @media screen and ((393px < width <= 744px) or (744px < width <= 1000px)) {
        align-self: self-start;
      }
    }

    .main-menu {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-inline: var(--body-inline-padding);

      @media screen and ((393px < width <= 744px) or (744px < width <= 1000px)) {
        padding-inline: 0;
      }
      .main-menu__mobile-toggle {
        background-color: transparent;
        color: var(--text-color);
        font-size: 2rem;

        @media screen and (width > 393px) {
          display: none;
        }
      }
      .main-menu__nav {
        display: none;
        flex-direction: column;
        list-style-type: none;
        font-family: "MADE Outer Sans";

        &.active {
          display: flex;
        }
        @media screen and ((393px < width <= 744px) or (744px < width <= 1000px)) {
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          inline-size: 100%;
        }
        @media screen and (width <= 393px) {
          position: absolute;
          top: 97px;
          right: 0;
          inline-size: 100%;
          gap: 0.5rem;
          background-color: var(--bg-color);
          padding-block-start: 0.5rem;
          align-items: end;

          li {
            border-block-end: 1px solid var(--menu-border-color);
            inline-size: 100%;
            padding-inline: calc(var(--body-inline-padding) - 1rem);
            text-align: right;
            padding-block-end: 0.5rem;
          }
        }
      }
    }
  }
}

@layer main {
  .main-section {
    display: block flex;
    flex-direction: column;
    gap: var(--sections-gap);

    .main-section__header {
      font-size: 28px;
      text-align: center;
      margin-block-end: 60px;
    }
    @media screen and (width <= 744px) {
      .hide-in-mobile {
        display: none;
      }
    }
    .hide-scrollbar {
      scrollbar-width: thin;
      scrollbar-color: transparent transparent;

      &::-webkit-scrollbar {
        width: 1px;
      }
      &::-webkit-scrollbar-track {
        background: transparent;
      }
      &::-webkit-scrollbar-thumb {
        background-color: transparent;
      }
    }
    @media screen and (744px < width <= 1000px) {
      .reasons {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 60px;

        h2.main-section__header {
          grid-column: 1 / -1;
        }
      }
    }
    .reason {
      display: grid;
      grid-template-columns: auto 3fr;
      grid-template-rows: auto auto;
      row-gap: 14px;
      column-gap: 30px;

      & + & {
        margin-block-start: 40px;
      }
      @media screen and (width > 744px) {
        & + & {
          margin-block-start: 0;
        }
      }
      .reason__header {
        font-size: 18px;
        font-weight: bold;
      }
      .reason__content {
        text-align: justify;
      }
      .reason__image {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 3;
      }
    }
    .membership-plans {
      display: flex;
      flex-direction: column;
      margin-inline: calc(var(--body-inline-padding) * -1);

      @media screen and ((393px < width <= 744px) or (744px < width <= 1000px)) {
        margin-inline: 0;
      }
      h2.main-section__header {
        margin-inline: var(--body-inline-padding);
      }

      .membership-plans-wrapper {
        display: flex;
        gap: 12px;
        overflow-x: scroll;
        overflow-y: hidden;

        @media screen and (744px < width <= 1000px) {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          grid-auto-flow: row;
          overflow-x: initial;
          overflow-y: initial;
        }
        @media screen and (393px < width <= 744px) {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-auto-flow: row;
          overflow-x: initial;
          overflow-y: initial;
        }
        .membership-plan {
          display: block flex;
          flex-direction: column;
          text-align: center;
          background-color: var(--black-out);
          border-radius: 10px;
          min-inline-size: 70%;

          &:first-of-type {
            margin-inline-start: var(--body-inline-padding);
          }
          &:last-of-type {
            margin-inline-end: var(--body-inline-padding);
          }
          @media screen and ((393px < width <= 744px) or (744px < width <= 1000px)) {
            &:first-of-type {
              margin-inline-start: 0;
            }
            &:last-of-type {
              margin-inline-end: 0;
            }
          }
          .membership-plan__header {
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin-block-start: 22px;
            margin-block-end: 27px;
            padding-block-end: 22px;
            border-block-end: 1px solid var(--bg-color);

            .membership-plan__name {
              font-size: 18px;
            }
            .membership-plan__investment {
              font-size: 24px;
            }
          }
          .membership-plan__features {
            text-align: left;
            margin-inline: 23px;
            list-style-type: none;
            margin-block-end: 34px;

            > li {
              display: flex;
              flex-direction: row;
              align-items: center;

              & + & {
                margin-block-start: 15px;
              }
              &::before {
                content: url(./assets/check.svg);
                padding-inline-end: 6px;
              }
            }
          }
          .membership-plan__cta {
            background-color: var(--text-electric-banana);
            border-radius: 30px;
            padding-inline: 38px;
            padding-block: 6px;
            inline-size: fit-content;
            align-self: center;
            margin-block-end: 38px;
            margin-block-start: auto;
          }
        }
      }
    }
    .about-us {
      text-align: center;
      margin-inline: calc(var(--body-inline-padding) * -1);

      @media screen and (744px < width <= 1000px) {
        margin-inline: 0;
        text-align: left;
        display: block grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        gap: 50px;
      }
      h2.main-section__header {
        margin-inline: var(--body-inline-padding);

        @media screen and (744px < width <= 1000px) {
          margin-block-end: 0;
          grid-column: 1 / -1;
        }
      }
      .about-us__info {
        margin-inline: var(--body-inline-padding);
        margin-block-end: 60px;

        @media screen and (744px < width <= 1000px) {
          text-align: justify;
          margin-inline: 0;
          margin-block-end: 0;
        }
        br {
          display: block;
          content: "";
          margin-block: 2rem;
        }
      }
      .about-us__carousel-wrapper {
        display: flex;
        gap: 12px;
        overflow-x: scroll;
        overflow-y: hidden;

        @media screen and (744px < width <= 1000px) {
          display: grid;
          grid-template-columns: 1fr auto auto;
          grid-template-rows: auto auto;
          row-gap: 10px;
          column-gap: 20px;
        }
        .about-us__image {
          border-radius: 10px;
          min-inline-size: 70%;
          display: flex;
          flex-direction: column;

          @media screen and (744px < width <= 1000px) {
            display: none;
            grid-column: 1 / -1;
            grid-row: 1;
          }
          &:first-of-type {
            margin-inline-start: var(--body-inline-padding);

            @media screen and (744px < width <= 1000px) {
              margin-inline-start: 0;
            }
          }
          &:last-of-type {
            margin-inline-end: var(--body-inline-padding);

            @media screen and (744px < width <= 1000px) {
              margin-inline-end: 0;
            }
          }
        }
        @media screen and (744px < width < 1000px) {
          .carousel-control {
            background-color: transparent;
            cursor: pointer;
            display: flex;
            align-items: center;
          }
          .carousel-control__active {
            filter: invert(1%) sepia(10%) saturate(7500%) hue-rotate(2deg)
              brightness(108%) contrast(102%);
          }
          .about-us__carousel-indicators {
            order: -1;
            display: grid;
            grid-auto-flow: column;
            justify-content: start;
            column-gap: 8px;
          }
        }
      }
    }
    .trainers-staff {
      display: flex;
      flex-direction: column;
      margin-inline: calc(var(--body-inline-padding) * -1);

      @media screen and (744px < width <= 1000px) {
        margin-inline: 0;
      }
      h2.main-section__header {
        margin-inline: var(--body-inline-padding);
      }
      .trainers-staff__wrapper {
        display: flex;
        gap: 12px;
        overflow-x: scroll;
        overflow-y: hidden;

        @media screen and (744px < width <= 1000px) {
          display: block grid;
          grid-template-columns: 1fr 1fr 1fr;
          grid-auto-flow: row;
          gap: 58px;
        }
        @media screen and (393px < width <= 744px) {
          gap: 36px;
        }
        .staff {
          display: block flex;
          flex-direction: column;
          text-align: center;
          background-color: var(--black-out);
          border-radius: 10px;
          min-inline-size: 70%;
          padding-block: 22px;
          padding-inline: 18px;
          gap: 18px;

          @media screen and (393px < width <= 744px) {
            min-inline-size: 33%;
          }

          &:first-of-type {
            margin-inline-start: var(--body-inline-padding);

            @media screen and (744px < width <= 1000px) {
              margin-inline-start: 0;
            }
          }
          &:last-of-type {
            margin-inline-end: var(--body-inline-padding);

            @media screen and (744px < width <= 1000px) {
              margin-inline-end: 0;
            }
          }
          .staff__selfie {
            order: -1;
          }
          .staff__name {
            font-size: 18px;
          }
          .staff__social-media {
            display: grid;
            grid-auto-flow: column;
            column-gap: 15px;
            justify-content: center;

            a {
              inline-size: fit-content;
            }
          }
        }
      }
    }
  }
}

@layer footer {
  .footer {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 47px;
    --footer-block-gap: 30px;

    @media screen and (width > 744px) {
      display: block grid;
      grid-template-columns: 1fr 1fr 1fr;
      text-align: left;
    }
    @media screen and (393px < width <= 744px) {
      text-align: left;
      flex-direction: row;
      justify-content: space-between;
    }
    .company-intro {
      display: none;

      @media screen and (width > 744px) {
        display: block;
      }
    }
    .footer-header {
      font-size: 18px;
      margin-block-end: var(--footer-block-gap);
    }
    .contact-tel {
      margin-block-end: 8px;
    }
    .contact-mail {
      display: inline-block;
      margin-block-end: var(--footer-block-gap);
    }
    .contact-social-media {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 24px;
    }
  }
}
