@layer reset, base, hero-header, main;

@layer reset {
  * {
    margin-block: 0;
    margin-inline: 0;
    padding-block: 0;
    padding-inline: 0;
    border-block: 0;
    border-inline: 0;
    box-sizing: border-box;
  }
}

@layer base {
  :root {
    --text-color: white;
    --bg-color: black;
    --text-electric-banana: #faff00;
    --body-inline-padding: 55px;
    --menu-border-color: #525254;
    --sections-gap: 200px;
    --black-out: #222222;
  }
  @font-face {
    font-family: "Bruno Ace SC";
    src: url("./assets/BrunoAceSC-Regular.eot");
    src: local("Bruno Ace SC Regular"), local("BrunoAceSC-Regular"),
      url("./assets/BrunoAceSC-Regular.eot?#iefix") format("embedded-opentype"),
      url("./assets/BrunoAceSC-Regular.woff2") format("woff2"),
      url("./assets/BrunoAceSC-Regular.woff") format("woff"),
      url("./assets/BrunoAceSC-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "MADE Outer Sans";
    src: url("./assets/MADEOuterSansAltRegular.ttf");
    src: local("MADE Outer Sans Alt Regular"), local("MADE Outer Sans"),
      url("./assets/MADEOuterSansAltRegular.ttf") format("truetype"),
      url("./assets/MADEOuterSansAltRegular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
  body,
  html {
    inline-size: 100%;
    min-height: 100vh;
    font-size: 14px;
  }
}

@layer base {
  body {
    display: block flex;
    flex-direction: column;
    gap: var(--sections-gap);
    background-color: var(--bg-color);
    color: var(--text-color);
    padding-inline: var(--body-inline-padding);
  }
  a:any-link {
    color: inherit;
    text-decoration: none 0 solid transparent;
  }
}

@layer hero-header {
  .hero-header {
    display: block flex;
    text-align: center;
    flex-direction: column;
    gap: 90px;
    background: var(--bg-color) url(./assets/background.png) center 100px
      no-repeat;
    margin-inline: calc(var(--body-inline-padding) * -1);

    .hero-title {
      font-family: "MADE Outer Sans";
      font-size: 30px;
      padding-inline: var(--body-inline-padding);
    }

    .call-to-action {
      background-color: var(--text-electric-banana);
      color: black;
      font-size: 16px;
      font-weight: 900;
      padding-inline: 50px;
      padding-block: 16px;
      inline-size: fit-content;
      border-radius: 30px;
      align-self: center;
    }

    .main-menu {
      display: flex;
      justify-content: space-between;
      padding-block-start: 60px;
      align-items: center;
      padding-inline: var(--body-inline-padding);

      .main-menu__logo {
        font-family: "Bruno Ace SC";
        text-transform: uppercase;
        font-size: 24px;

        .text-electric-banana {
          color: var(--text-electric-banana);
        }
      }
      .main-menu__mobile-toggle {
        background-color: transparent;
        color: var(--text-color);
        font-size: 2rem;

        @media screen and (width > 393px) {
          display: none;
        }
      }
      .main-menu__nav {
        display: none;
        flex-direction: column;
        list-style-type: none;
        font-family: "MADE Outer Sans";

        &.active {
          display: flex;
        }

        @media screen and (width <= 393px) {
          position: absolute;
          top: 97px;
          right: 0;
          inline-size: 100%;
          gap: 0.5rem;
          background-color: var(--bg-color);
          padding-block-start: 0.5rem;
          align-items: end;

          li {
            border-block-end: 1px solid var(--menu-border-color);
            inline-size: 100%;
            padding-inline: calc(var(--body-inline-padding) - 1rem);
            text-align: right;
            padding-block-end: 0.5rem;
          }
        }

        @media screen and (width > 393px) {
          display: flex;
        }
      }
    }
  }
}

@layer main {
  .main-section {
    display: block flex;
    flex-direction: column;
    gap: var(--sections-gap);

    .main-section__header {
      font-size: 28px;
      text-align: center;
      margin-block-end: 60px;
    }
    @media screen and (width <= 393px) {
      .hide-in-mobile {
        display: none;
      }
      .hide-mobile-scrollbar {
        scrollbar-width: thin;
        scrollbar-color: transparent transparent;

        &::-webkit-scrollbar {
          width: 1px;
        }
        &::-webkit-scrollbar-track {
          background: transparent;
        }
        &::-webkit-scrollbar-thumb {
          background-color: transparent;
        }
      }
    }
    .reason {
      display: grid;
      grid-template-columns: 1fr 3fr;
      grid-template-rows: auto auto;
      row-gap: 14px;

      & + & {
        margin-block-start: 40px;
      }

      .reason__header {
        font-size: 18px;
        font-weight: bold;
      }
      .reason__content {
        text-align: justify;
      }
      .reason__image {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 3;
      }
    }
    .membership-plans {
      display: flex;
      flex-direction: column;
      margin-inline: calc(var(--body-inline-padding) * -1);

      h2.main-section__header {
        margin-inline: var(--body-inline-padding);
      }

      .membership-plans-wrapper {
        display: flex;
        gap: 12px;
        overflow-x: scroll;
        overflow-y: hidden;

        .membership-plan {
          display: block flex;
          flex-direction: column;
          text-align: center;
          background-color: var(--black-out);
          border-radius: 10px;
          min-inline-size: 70%;

          &:first-of-type {
            margin-inline-start: var(--body-inline-padding);
          }
          &:last-of-type {
            margin-inline-end: var(--body-inline-padding);
          }

          .membership-plan__header {
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin-block-start: 22px;
            margin-block-end: 27px;
            padding-block-end: 22px;
            border-block-end: 1px solid var(--bg-color);

            .membership-plan__name {
              font-size: 18px;
            }
            .membership-plan__investment {
              font-size: 24px;
            }
          }
          .membership-plan__features {
            text-align: left;
            margin-inline: 23px;
            list-style-type: none;

            > li {
              display: flex;
              flex-direction: row;
              align-items: center;

              & + & {
                margin-block-start: 15px;
              }
              &::before {
                content: url(./assets/check.svg);
                padding-inline-end: 6px;
              }
            }
          }
          .membership-plan__cta {
            background-color: var(--text-electric-banana);
            border-radius: 30px;
            padding-inline: 38px;
            padding-block: 6px;
            inline-size: fit-content;
            align-self: center;
            margin-block-end: 38px;
            margin-block-start: auto;
          }
        }
      }
    }
    .about-us {
      text-align: center;
      margin-inline: calc(var(--body-inline-padding) * -1);

      h2.main-section__header {
        margin-inline: var(--body-inline-padding);
      }
      .about-us__info {
        margin-inline: var(--body-inline-padding);
        margin-block-end: 60px;

        br {
          display: block;
          content: "";
          margin-block: 2rem;
        }
      }
      .about-us__carousel-wrapper {
        display: flex;
        gap: 12px;
        overflow-x: scroll;
        overflow-y: hidden;

        .about-us__image {
          border-radius: 10px;
          min-inline-size: 70%;
          display: flex;
          flex-direction: column;

          &:first-of-type {
            margin-inline-start: var(--body-inline-padding);
          }
          &:last-of-type {
            margin-inline-end: var(--body-inline-padding);
          }
        }
      }
    }
  }
}
