.footer {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 47px;
  --footer-block-gap: 30px;

  @media screen and (width > 744px) {
    display: block grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: left;
  }
  @media screen and (420px < width <= 744px) {
    text-align: left;
    flex-direction: row;
    justify-content: space-between;
  }
  .company-intro {
    display: none;

    @media screen and (width > 744px) {
      display: block;
    }
  }
  .footer-header {
    font-size: 18px;
    margin-block-end: var(--footer-block-gap);
  }
  .contact-tel {
    margin-block-end: 8px;
  }
  .contact-mail {
    display: inline-block;
    margin-block-end: var(--footer-block-gap);
  }
  .contact-social-media {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 24px;

    @media screen and (width > 1000px) {
      justify-content: start;
    }
  }
}
