.main-section {
  display: block flex;
  flex-direction: column;
  gap: var(--sections-gap);

  .main-section__header {
    font-size: 28px;
    text-align: center;
    margin-block-end: 60px;

    @media screen and (width > 1000px) {
      margin-block-end: 120px;
    }
  }
  @media screen and (width <= 744px) {
    .hide-in-mobile {
      display: none;
    }
  }
  .hide-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;

    &::-webkit-scrollbar {
      width: 1px;
    }
    &::-webkit-scrollbar-track {
      background: transparent;
    }
    &::-webkit-scrollbar-thumb {
      background-color: transparent;
    }
  }
  @media screen and (width > 744px) {
    .reasons {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 60px;

      h2.main-section__header {
        grid-column: 1 / -1;

        @media screen and (width > 1000px) {
          margin-block-end: calc(120px - 60px);
        }
      }
      @media screen and (width > 1000px) {
        padding-inline: calc(220px - var(--body-inline-padding));
      }
    }
  }
  .reason {
    display: grid;
    grid-template-columns: auto 3fr;
    grid-template-rows: auto auto;
    row-gap: 14px;
    column-gap: 30px;

    & + & {
      margin-block-start: 40px;
    }
    @media screen and (width > 744px) {
      & + & {
        margin-block-start: 0;
      }
    }
    .reason__header {
      font-size: 18px;
      font-weight: bold;
    }
    .reason__content {
      text-align: justify;
    }
    .reason__image {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 3;
    }
  }
  .membership-plans {
    display: flex;
    flex-direction: column;
    margin-inline: calc(var(--body-inline-padding) * -1);

    @media screen and (width > 420px) {
      margin-inline: 0;
    }
    h2.main-section__header {
      margin-inline: var(--body-inline-padding);
    }

    .membership-plans-wrapper {
      display: flex;
      gap: 12px;
      overflow-x: scroll;
      overflow-y: hidden;

      @media screen and (744px < width <= 1000px) {
        gap: 56px;
      }
      @media screen and (width > 1000px) {
        gap: 68px;
        padding-inline: calc(320px - var(--body-inline-padding));
      }
      @media screen and (width > 744px) {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-flow: row;
        overflow-x: initial;
        overflow-y: initial;
      }
      @media screen and (420px < width <= 744px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-flow: row;
        overflow-x: initial;
        overflow-y: initial;
      }
      .membership-plan {
        display: block flex;
        flex-direction: column;
        text-align: center;
        background-color: var(--black-out);
        border-radius: 10px;
        min-inline-size: 70%;

        &:first-of-type {
          margin-inline-start: var(--body-inline-padding);
        }
        &:last-of-type {
          margin-inline-end: var(--body-inline-padding);
        }
        @media screen and (width > 420px) {
          &:first-of-type {
            margin-inline-start: 0;
          }
          &:last-of-type {
            margin-inline-end: 0;
          }
        }
        .membership-plan__header {
          display: flex;
          flex-direction: column;
          gap: 10px;
          margin-block-start: 22px;
          margin-block-end: 27px;
          padding-block-end: 22px;
          border-block-end: 1px solid var(--bg-color);

          .membership-plan__name {
            font-size: 18px;
          }
          .membership-plan__investment {
            font-size: 24px;
          }
        }
        .membership-plan__features {
          text-align: left;
          margin-inline: 23px;
          list-style-type: none;
          margin-block-end: 34px;

          > li {
            display: flex;
            flex-direction: row;
            align-items: center;

            & + & {
              margin-block-start: 15px;
            }
            &::before {
              content: url(../assets/check.svg);
              padding-inline-end: 6px;
            }
          }
        }
        .membership-plan__cta {
          background-color: var(--text-electric-banana);
          border-radius: 30px;
          padding-inline: 38px;
          padding-block: 6px;
          inline-size: fit-content;
          align-self: center;
          margin-block-end: 38px;
          margin-block-start: auto;
        }
      }
    }
  }
  .about-us {
    text-align: center;
    margin-inline: calc(var(--body-inline-padding) * -1);

    @media screen and (width > 744px) {
      margin-inline: 0;
      text-align: justify;
      display: block grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto;
      gap: 50px;
    }
    @media screen and (width > 1000px) {
      padding-inline: calc(220px - var(--body-inline-padding));
    }
    h2.main-section__header {
      margin-inline: var(--body-inline-padding);

      @media screen and (width > 1000px) {
        text-align: left;
        margin-block-end: 0;
        margin-inline: 0;
      }
      @media screen and (744px < width <= 1000px) {
        margin-block-end: 0;
        grid-column: 1 / -1;
      }
    }
    .about-us__info {
      margin-inline: var(--body-inline-padding);
      margin-block-end: 60px;

      @media screen and (width > 1000px) {
        grid-column: 1 / 1;
        grid-row: 2 / 3;
        margin-inline: 0;
        margin-block-end: 0;
      }
      @media screen and (744px < width <= 1000px) {
        text-align: justify;
        margin-inline: 0;
        margin-block-end: 0;
      }
      br {
        display: block;
        content: "";
        margin-block: 2rem;
      }
    }
    .about-us__carousel-wrapper {
      display: flex;
      gap: 12px;
      overflow-x: scroll;
      overflow-y: hidden;

      @media screen and (width > 1000px) {
        grid-row: 1 / -1;
      }
      @media screen and (width > 744px) {
        display: grid;
        grid-template-columns: 1fr auto auto;
        grid-template-rows: auto auto;
        row-gap: 10px;
        column-gap: 20px;
      }
      .about-us__image {
        border-radius: 10px;
        min-inline-size: 70%;
        display: flex;
        flex-direction: column;

        @media screen and (width > 744px) {
          display: none;
          grid-column: 1 / -1;
          grid-row: 1;
        }
        &:first-of-type {
          margin-inline-start: var(--body-inline-padding);

          @media screen and (width > 744px) {
            margin-inline-start: 0;
          }
        }
        &:last-of-type {
          margin-inline-end: var(--body-inline-padding);

          @media screen and (width > 744px) {
            margin-inline-end: 0;
          }
        }
      }
      @media screen and (width > 744px) {
        .carousel-control {
          background-color: transparent;
          cursor: pointer;
          display: flex;
          align-items: center;
        }
        .carousel-control__active {
          filter: invert(1%) sepia(10%) saturate(7500%) hue-rotate(2deg)
            brightness(108%) contrast(102%);
        }
        .about-us__carousel-indicators {
          order: -1;
          display: grid;
          grid-auto-flow: column;
          justify-content: start;
          column-gap: 8px;
        }
      }
    }
  }
  .trainers-staff {
    display: flex;
    flex-direction: column;
    margin-inline: calc(var(--body-inline-padding) * -1);

    @media screen and (width > 1000px) {
      padding-inline: calc(220px - var(--body-inline-padding));
    }
    @media screen and (width > 744px) {
      margin-inline: 0;
    }
    h2.main-section__header {
      margin-inline: var(--body-inline-padding);
    }
    .trainers-staff__wrapper {
      display: flex;
      gap: 12px;
      overflow-x: scroll;
      overflow-y: hidden;

      @media screen and (width > 1000px) {
        display: block grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-flow: row;
        gap: 20px;
      }
      @media screen and (744px < width <= 1000px) {
        display: block grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-flow: row;
        gap: 58px;
      }
      @media screen and (420px < width <= 744px) {
        gap: 36px;
      }
      .staff {
        display: block flex;
        flex-direction: column;
        text-align: center;
        background-color: var(--black-out);
        border-radius: 10px;
        min-inline-size: 70%;
        padding-block: 22px;
        padding-inline: 18px;
        gap: 18px;

        @media screen and (420px < width <= 744px) {
          min-inline-size: 33%;
        }

        &:first-of-type {
          margin-inline-start: var(--body-inline-padding);

          @media screen and (width > 744px) {
            margin-inline-start: 0;
          }
        }
        &:last-of-type {
          margin-inline-end: var(--body-inline-padding);

          @media screen and (width > 744px) {
            margin-inline-end: 0;
          }
        }
        .staff__selfie {
          order: -1;
        }
        .staff__name {
          font-size: 18px;
        }
        .staff__social-media {
          display: grid;
          grid-auto-flow: column;
          column-gap: 15px;
          justify-content: center;

          a {
            inline-size: fit-content;
          }
        }
      }
    }
  }
}
